### Importing requirements

In [1]:
import pymongo

### Connecting to local mongodb

In [2]:
client = pymongo.MongoClient('mongodb://127.0.0.1:27017')

### Creating database

In [4]:
db = client['student']

### Creating collection

In [6]:
info = db.col1

In [7]:
records = {
    'fname' : 'manju',
    'lname' : 'reddy',
    'dept' : 'tech'
}

### Insert records

In [8]:
info.insert_one(records)

### Insert many records

In [9]:
records = [
    {
    'fname' : 'manju1',
    'lname' : 'reddy1',
    'dept' : 'tech1'
    },
    {
    'fname' : 'manju2',
    'lname' : 'reddy2',
    'dept' : 'tech2'
    },
    {
    'fname' : 'manju3',
    'lname' : 'reddy3',
    'dept' : 'tech3'
    },
    {
    'fname' : 'manju4',
    'lname' : 'reddy4',
    'dept' : 'tech4'
    }
]
info.insert_many(records)

### show collection data

In [13]:
all_data = db.col1.find()
for data in all_data:
    print(data)

{'_id': ObjectId('60c85b786cae20be464f8c73'), 'fname': 'manju', 'lname': 'reddy', 'dept': 'tech'}
{'_id': ObjectId('60c85bdb6cae20be464f8c74'), 'fname': 'manju1', 'lname': 'reddy1', 'dept': 'tech1'}
{'_id': ObjectId('60c85bdb6cae20be464f8c75'), 'fname': 'manju2', 'lname': 'reddy2', 'dept': 'tech2'}
{'_id': ObjectId('60c85bdb6cae20be464f8c76'), 'fname': 'manju3', 'lname': 'reddy3', 'dept': 'tech3'}
{'_id': ObjectId('60c85bdb6cae20be464f8c77'), 'fname': 'manju4', 'lname': 'reddy4', 'dept': 'tech4'}

#

In [17]:
record = {
    'fname' : 'manju',
    'lanme' : 'reddy',
    'dept' : 'sales'
}

In [18]:
info.insert_one(record)

In [76]:
res = db.col1.find({'fname':'manju'} and {'dept' : 'tech'} )
for i in res:
    print(i)

{'_id': ObjectId('60c85b786cae20be464f8c73'), 'fname': 'manju', 'lname': 'reddy', 'dept': 'tech'}

### Updating Records

<ul>
    <h4><li> update_one() </li>
    <li> update_many() </li>
    <li> replace_one() </li></h4>
</ul>

In [88]:
res = db.col1.find()

for i in res:
    print(i)

{'_id': ObjectId('60c85b786cae20be464f8c73'), 'fname': 'manju', 'lname': 'reddy', 'dept': 'tech', 'lastModified': datetime.datetime(2021, 6, 15, 13, 31, 9, 834000)}
{'_id': ObjectId('60c85bdb6cae20be464f8c74'), 'fname': 'manju1', 'lname': 'reddy1', 'dept': 'tech1'}
{'_id': ObjectId('60c85bdb6cae20be464f8c75'), 'fname': 'manju2', 'lname': 'reddy2', 'dept': 'tech2'}
{'_id': ObjectId('60c85bdb6cae20be464f8c76'), 'fname': 'manju3', 'lname': 'reddy3', 'dept': 'tech3'}
{'_id': ObjectId('60c85bdb6cae20be464f8c77'), 'fname': 'manju4', 'lname': 'reddy4', 'dept': 'tech4'}
{'_id': ObjectId('60c861436cae20be464f8c78'), 'fname': 'manju', 'lanme': 'reddy', 'dept': 'sales'}
{'_id': ObjectId('60c894086cae20be464f8c7a'), 'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}}

In [89]:
db.col1.update_one(
    {'fname':'manju'},
    {'$currentDate': { "lastModified": True }}
)

res = db.col1.find()

for i in res:
    print(i)

{'_id': ObjectId('60c85b786cae20be464f8c73'), 'fname': 'manju', 'lname': 'reddy', 'dept': 'tech', 'lastModified': datetime.datetime(2021, 6, 15, 13, 32, 5, 805000)}
{'_id': ObjectId('60c85bdb6cae20be464f8c74'), 'fname': 'manju1', 'lname': 'reddy1', 'dept': 'tech1'}
{'_id': ObjectId('60c85bdb6cae20be464f8c75'), 'fname': 'manju2', 'lname': 'reddy2', 'dept': 'tech2'}
{'_id': ObjectId('60c85bdb6cae20be464f8c76'), 'fname': 'manju3', 'lname': 'reddy3', 'dept': 'tech3'}
{'_id': ObjectId('60c85bdb6cae20be464f8c77'), 'fname': 'manju4', 'lname': 'reddy4', 'dept': 'tech4'}
{'_id': ObjectId('60c861436cae20be464f8c78'), 'fname': 'manju', 'lanme': 'reddy', 'dept': 'sales'}
{'_id': ObjectId('60c894086cae20be464f8c7a'), 'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}}

In [90]:
db.col1.update_many(
    {'fname':'manju'},
    {'$currentDate': { "lastModified": True }},
    {}
)

res = db.col1.find()

for i in res:
    print(i)

{'_id': ObjectId('60c85b786cae20be464f8c73'), 'fname': 'manju', 'lname': 'reddy', 'dept': 'tech', 'lastModified': datetime.datetime(2021, 6, 15, 13, 32, 24, 233000)}
{'_id': ObjectId('60c85bdb6cae20be464f8c74'), 'fname': 'manju1', 'lname': 'reddy1', 'dept': 'tech1'}
{'_id': ObjectId('60c85bdb6cae20be464f8c75'), 'fname': 'manju2', 'lname': 'reddy2', 'dept': 'tech2'}
{'_id': ObjectId('60c85bdb6cae20be464f8c76'), 'fname': 'manju3', 'lname': 'reddy3', 'dept': 'tech3'}
{'_id': ObjectId('60c85bdb6cae20be464f8c77'), 'fname': 'manju4', 'lname': 'reddy4', 'dept': 'tech4'}
{'_id': ObjectId('60c861436cae20be464f8c78'), 'fname': 'manju', 'lanme': 'reddy', 'dept': 'sales', 'lastModified': datetime.datetime(2021, 6, 15, 13, 32, 24, 233000)}
{'_id': ObjectId('60c894086cae20be464f8c7a'), 'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}}

In [95]:
db.col1.replace_one(
    {'fname': 'manju4', 'lname': 'reddy4', 'dept': 'tech4'},
    {'fname': 'manju', 'lname': 'reddy', 'dept': 'tech'}
    
)


res = db.col1.find()
for i in res:
    print(i)

{'_id': ObjectId('60c85b786cae20be464f8c73'), 'fname': 'manju', 'lname': 'reddy', 'dept': 'tech', 'lastModified': datetime.datetime(2021, 6, 15, 13, 32, 24, 233000)}
{'_id': ObjectId('60c85bdb6cae20be464f8c74'), 'fname': 'manju'}
{'_id': ObjectId('60c85bdb6cae20be464f8c75'), 'fname': 'manju', 'lname': 'reddy', 'dept': 'tech'}
{'_id': ObjectId('60c85bdb6cae20be464f8c76'), 'fname': 'manju', 'lname': 'reddy', 'dept': 'tech'}
{'_id': ObjectId('60c85bdb6cae20be464f8c77'), 'fname': 'manju', 'lname': 'reddy', 'dept': 'tech'}
{'_id': ObjectId('60c861436cae20be464f8c78'), 'fname': 'manju', 'lanme': 'reddy', 'dept': 'sales', 'lastModified': datetime.datetime(2021, 6, 15, 13, 32, 24, 233000)}
{'_id': ObjectId('60c894086cae20be464f8c7a'), 'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}}

### Aggregate functions
1. group
2. sum
3. average
4. project

In [3]:
from pymongo import MongoClient
client = MongoClient('mongodb://127.0.0.1:27017/')

In [81]:
database = client['students']
collection = database['student_scores']

data=[
    {'user':'manju','subject':'java','score':80},
    {'user':'reddy','subject':'python','score':90},
    {'user':'reddy','subject':'javascript','score':70},
    {'user':'manju','subject':'python','score':90},
    {'user':'reddy','subject':'java','score':75},
    {'user':'manju','subject':'javascript','score':75},
    {'user':'manju','subject':'javascript','score':75}
]

In [18]:
collection.insert_many(data)

In [75]:
all_data = collection.find()
for i in all_data:
    print(i)

{'_id': ObjectId('60c9a2832223e7788a638ab8'), 'user': 'manju', 'subject': 'java', 'score': 80}
{'_id': ObjectId('60c9a2832223e7788a638ab9'), 'user': 'reddy', 'subject': 'python', 'score': 90}
{'_id': ObjectId('60c9a2832223e7788a638aba'), 'user': 'reddy', 'subject': 'javascript', 'score': 70}
{'_id': ObjectId('60c9a2832223e7788a638abb'), 'user': 'manju', 'subject': 'python', 'score': 90}
{'_id': ObjectId('60c9a2832223e7788a638abc'), 'user': 'reddy', 'subject': 'java', 'score': 75}
{'_id': ObjectId('60c9a2832223e7788a638abd'), 'user': 'manju', 'subject': 'javascript', 'score': 75}
{'_id': ObjectId('60c9a41e2223e7788a638abe'), 'user': 'manju', 'subject': 'java', 'score': 80}
{'_id': ObjectId('60c9a41e2223e7788a638abf'), 'user': 'reddy', 'subject': 'python', 'score': 90}
{'_id': ObjectId('60c9a41e2223e7788a638ac0'), 'user': 'reddy', 'subject': 'javascript', 'score': 70}
{'_id': ObjectId('60c9a41e2223e7788a638ac1'), 'user': 'manju', 'subject': 'python', 'score': 90}
{'_id': ObjectId('60c9a41e2223e7788a638ac2'), 'user': 'reddy', 'subject': 'java', 'score': 75}
{'_id': ObjectId('60c9a41e2223e7788a638ac3'), 'user': 'manju', 'subject': 'javascript', 'score': 75}
{'_id': ObjectId('60c9a41e2223e7788a638ac4'), 'user': 'manju', 'subject': 'javascript', 'score': 75}

In [82]:
agg_res = collection.aggregate([
    {
        "$group" : {
            "_id" : "$user",
            "total records" : {"$sum" : 1}
        }
    }
])

for i in agg_res:
    print(i)

{'_id': 'reddy', 'total records': 6}
{'_id': 'manju', 'total records': 7}

In [83]:
agg_res = collection.aggregate([
    {
        "$group" : {
            "_id" : "$user",
            "total score:" : {"$sum" : "$score"}
        }
    }
])


for i in agg_res:
    print(i)

{'_id': 'reddy', 'total score:': 470}
{'_id': 'manju', 'total score:': 565}

In [84]:
agg_res = collection.aggregate([
    {
        "$group" : {
            "_id" : "$user",
            "average score:" : {"$avg":"$score"}
        }
    }
])

for i in agg_res:
    print(i)

{'_id': 'reddy', 'average score:': 78.33333333333333}
{'_id': 'manju', 'average score:': 80.71428571428571}

In [93]:
## project

agg_res = collection.aggregate([
    {
        "$project" : {"user" : 1,"subject" : 1,"score" : 1}
    }
])

for i in agg_res:
    print(i)

{'_id': ObjectId('60c9a2832223e7788a638ab8'), 'user': 'manju', 'subject': 'java', 'score': 80}
{'_id': ObjectId('60c9a2832223e7788a638ab9'), 'user': 'reddy', 'subject': 'python', 'score': 90}
{'_id': ObjectId('60c9a2832223e7788a638aba'), 'user': 'reddy', 'subject': 'javascript', 'score': 70}
{'_id': ObjectId('60c9a2832223e7788a638abb'), 'user': 'manju', 'subject': 'python', 'score': 90}
{'_id': ObjectId('60c9a2832223e7788a638abc'), 'user': 'reddy', 'subject': 'java', 'score': 75}
{'_id': ObjectId('60c9a2832223e7788a638abd'), 'user': 'manju', 'subject': 'javascript', 'score': 75}
{'_id': ObjectId('60c9a41e2223e7788a638abe'), 'user': 'manju', 'subject': 'java', 'score': 80}
{'_id': ObjectId('60c9a41e2223e7788a638abf'), 'user': 'reddy', 'subject': 'python', 'score': 90}
{'_id': ObjectId('60c9a41e2223e7788a638ac0'), 'user': 'reddy', 'subject': 'javascript', 'score': 70}
{'_id': ObjectId('60c9a41e2223e7788a638ac1'), 'user': 'manju', 'subject': 'python', 'score': 90}
{'_id': ObjectId('60c9a41e2223e7788a638ac2'), 'user': 'reddy', 'subject': 'java', 'score': 75}
{'_id': ObjectId('60c9a41e2223e7788a638ac3'), 'user': 'manju', 'subject': 'javascript', 'score': 75}
{'_id': ObjectId('60c9a41e2223e7788a638ac4'), 'user': 'manju', 'subject': 'javascript', 'score': 75}

In [45]:
collection = database['stores']

In [47]:
import datetime
data = [
    {"_id" : 1,"item" : "avc", "price" : 20, "quantity" : 2, "date" : datetime.datetime.now()},
    {"_id" : 2,"item" : "xyz", "price" : 10, "quantity" : 4, "date" : datetime.datetime.now()},
    {"_id" : 3,"item" : "vvc", "price" : 25, "quantity" : 3, "date" : datetime.datetime.now()},
    {"_id" : 4,"item" : "bbg", "price" : 50, "quantity" : 6, "date" : datetime.datetime.now()},
    {"_id" : 5,"item" : "thb", "price" : 30, "quantity" : 10, "date" : datetime.datetime.now()},
    {"_id" : 6,"item" : "fgh", "price" : 70, "quantity" : 5, "date" : datetime.datetime.now()},
    {"_id" : 7,"item" : "yum", "price" : 15, "quantity" : 2, "date" : datetime.datetime.now()},
    {"_id" : 8,"item" : "cur", "price" : 67, "quantity" : 1, "date" : datetime.datetime.now()},
    {"_id" : 9,"item" : "bjp", "price" : 50, "quantity" : 4, "date" : datetime.datetime.now()},
    
]

In [50]:
collection.insert_many(data)

In [51]:
for i in collection.find():
    print(i)

{'_id': 1, 'item': 'avc', 'price': 20, 'quantity': 2, 'date': datetime.datetime(2021, 6, 16, 13, 12, 50, 915000)}
{'_id': 2, 'item': 'xyz', 'price': 10, 'quantity': 4, 'date': datetime.datetime(2021, 6, 16, 13, 12, 50, 915000)}
{'_id': 3, 'item': 'vvc', 'price': 25, 'quantity': 3, 'date': datetime.datetime(2021, 6, 16, 13, 12, 50, 915000)}
{'_id': 4, 'item': 'bbg', 'price': 50, 'quantity': 6, 'date': datetime.datetime(2021, 6, 16, 13, 12, 50, 915000)}
{'_id': 5, 'item': 'thb', 'price': 30, 'quantity': 10, 'date': datetime.datetime(2021, 6, 16, 13, 12, 50, 915000)}
{'_id': 6, 'item': 'fgh', 'price': 70, 'quantity': 5, 'date': datetime.datetime(2021, 6, 16, 13, 12, 50, 915000)}
{'_id': 7, 'item': 'yum', 'price': 15, 'quantity': 2, 'date': datetime.datetime(2021, 6, 16, 13, 12, 50, 915000)}
{'_id': 8, 'item': 'cur', 'price': 67, 'quantity': 1, 'date': datetime.datetime(2021, 6, 16, 13, 12, 50, 915000)}
{'_id': 9, 'item': 'bjp', 'price': 50, 'quantity': 4, 'date': datetime.datetime(2021, 6, 16, 13, 12, 50, 915000)}

In [56]:
agg_res = collection.aggregate([
    {
        "$group" : {
            "_id" : "$item",
            "sum price" : {"$sum":{"$multiply":["$price","$quantity"]}},
            "avg price" : {"$avg" : {"$multiply":["$price","$quantity"]}}
        }
    }

])


for i in agg_res:
    print(i)

{'_id': 'cur', 'sum price': 67, 'avg price': 67.0}
{'_id': 'yum', 'sum price': 30, 'avg price': 30.0}
{'_id': 'fgh', 'sum price': 350, 'avg price': 350.0}
{'_id': 'thb', 'sum price': 300, 'avg price': 300.0}
{'_id': 'bjp', 'sum price': 200, 'avg price': 200.0}
{'_id': 'bbg', 'sum price': 300, 'avg price': 300.0}
{'_id': 'vvc', 'sum price': 75, 'avg price': 75.0}
{'_id': 'xyz', 'sum price': 40, 'avg price': 40.0}
{'_id': 'avc', 'sum price': 40, 'avg price': 40.0}

In [104]:
data = [
    {
  "_id" : 4,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 5,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
},
{
  "_id" : 6,
  "title": "Ice Cream Cakes",
  "isbn": "8888888888888",
  "author": { "last": "xyz", "first": "abc", "middle": "mmm" },
  "copies": 5
}
]

In [103]:
collection = database['books']

In [105]:
collection.insert_many(data)

In [106]:
for i in collection.find():
    print(i)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334', 'author': {'last': 'zzz', 'first': 'aaa'}, 'copies': 5}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999', 'author': {'last': 'xyz', 'first': 'abc', 'middle': ''}, 'copies': 2}
{'_id': 3, 'title': 'Ice Cream Cakes', 'isbn': '8888888888888', 'author': {'last': 'xyz', 'first': 'abc', 'middle': 'mmm'}, 'copies': 5}
{'_id': 4, 'title': 'abc123', 'isbn': '0001122223334', 'author': {'last': 'zzz', 'first': 'aaa'}, 'copies': 5}
{'_id': 5, 'title': 'Baked Goods', 'isbn': '9999999999999', 'author': {'last': 'xyz', 'first': 'abc', 'middle': ''}, 'copies': 2}
{'_id': 6, 'title': 'Ice Cream Cakes', 'isbn': '8888888888888', 'author': {'last': 'xyz', 'first': 'abc', 'middle': 'mmm'}, 'copies': 5}

In [112]:
## project

agg_res = collection.aggregate([
    {
        "$project" : {"title" : 1}
    }
    
])

for i in agg_res:
    print(i)

{'_id': 1, 'title': 'abc123'}
{'_id': 2, 'title': 'Baked Goods'}
{'_id': 3, 'title': 'Ice Cream Cakes'}
{'_id': 4, 'title': 'abc123'}
{'_id': 5, 'title': 'Baked Goods'}
{'_id': 6, 'title': 'Ice Cream Cakes'}

### Uploading images

In [2]:
from pymongo import MongoClient
import cv2
import numpy as np
import glob
import io
from PIL import Image

In [3]:
client = MongoClient('mongodb://127.0.0.1:27017')

db = client['files']
collection = db['images']

In [2]:
# collection.insert_one({'name':'manju'})

### Uploading single image into mongodb

In [5]:
img = cv2.imread('shapes.jpg')


## Converting image to bytes  
ret, buffer = cv2.imencode('.jpg',img)
img_bytes = np.array(buffer).tostring()

## inserting into mongo db
collection.insert_one({'image_count':1,'image_id':img_bytes})




# cv2.imshow('image',img)
# cv2.waitKey(0)

<ipython-input-5-f8d0dcc48be3>:6: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  img_bytes = np.array(buffer).tostring()

### Uploading multiple images into mongodb

In [5]:
## Upload multiple images
img_folder_path = '/home/manju/python_programs/mongodb/'

all_images = glob.glob(img_folder_path+'*.jpg')
print(all_images)
img_count = 1

for image in all_images:
    
    img = cv2.imread(image)
    
    ret, buffer = cv2.imencode('.jpg',img)
    img_bytes = np.array(buffer).tostring()
    
    
    collection.insert_one({'image_count':img_count,'image_id':img_bytes})
    
    img_count += 1

['/home/manju/python_programs/mongodb/shapes_output.jpg', '/home/manju/python_programs/mongodb/image.jpg', '/home/manju/python_programs/mongodb/black_image.jpg', '/home/manju/python_programs/mongodb/outimage.jpg', '/home/manju/python_programs/mongodb/out.jpg', '/home/manju/python_programs/mongodb/shapes.jpg', '/home/manju/python_programs/mongodb/shapes_output1.jpg', '/home/manju/python_programs/mongodb/out1.jpg', '/home/manju/python_programs/mongodb/text-image.jpg', '/home/manju/python_programs/mongodb/cylinder.jpg']

<ipython-input-5-453bc718f910>:13: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  img_bytes = np.array(buffer).tostring()

In [6]:

agg_res = collection.aggregate([
    {
        "$project" : {"image_count" : 1}
    }
    
])


# print(len(list(agg_res)))
for i in agg_res:
    print(i)

{'_id': ObjectId('60cafc56e5a7fb5af0c57133'), 'image_count': 1}
{'_id': ObjectId('60cafc56e5a7fb5af0c57134'), 'image_count': 2}
{'_id': ObjectId('60cafc56e5a7fb5af0c57135'), 'image_count': 3}
{'_id': ObjectId('60cafc56e5a7fb5af0c57136'), 'image_count': 4}
{'_id': ObjectId('60cafc56e5a7fb5af0c57137'), 'image_count': 5}
{'_id': ObjectId('60cafc56e5a7fb5af0c57138'), 'image_count': 6}
{'_id': ObjectId('60cafc56e5a7fb5af0c57139'), 'image_count': 7}
{'_id': ObjectId('60cafc56e5a7fb5af0c5713a'), 'image_count': 8}
{'_id': ObjectId('60cafc56e5a7fb5af0c5713b'), 'image_count': 9}
{'_id': ObjectId('60cafc56e5a7fb5af0c5713c'), 'image_count': 10}
{'_id': ObjectId('60cafe49c3b961487c6999bd'), 'image_count': 1}
{'_id': ObjectId('60cafe49c3b961487c6999be'), 'image_count': 2}
{'_id': ObjectId('60cafe49c3b961487c6999bf'), 'image_count': 3}
{'_id': ObjectId('60cafe49c3b961487c6999c0'), 'image_count': 4}
{'_id': ObjectId('60cafe49c3b961487c6999c1'), 'image_count': 5}
{'_id': ObjectId('60cafe49c3b961487c6999c2'), 'image_count': 6}
{'_id': ObjectId('60cafe49c3b961487c6999c3'), 'image_count': 7}
{'_id': ObjectId('60cafe49c3b961487c6999c4'), 'image_count': 8}
{'_id': ObjectId('60cafe49c3b961487c6999c5'), 'image_count': 9}
{'_id': ObjectId('60cafe49c3b961487c6999c6'), 'image_count': 10}

In [ ]:
res = collection.find()

for i in res:
    print(i['_id'],i['image_count'])
    
    img1_bytes = i['image_id']
    
    ## Decoding CV2
    decoded = cv2.imdecode(np.frombuffer(img1_bytes, np.uint8), 1)
    # print(decoded)
    cv2.imshow(str(i['image_count']),decoded)
    cv2.waitKey(0)
    cv2.destroyAllWindows()